body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  font-family: 'Orbitron', sans-serif;
}

h1,
footer {
  font-family: 'Orbitron', sans-serif;

}

footer {
  margin-bottom: 10px;
}

.calculator {
  border: 3px solid black;
  width: 310px;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-color: #61504E;
  border-radius: 10px;
}

.screen {
  flex: 1;
  font-size: 1.1em;
  text-align: end;
  color: #E6BDB8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  flex: 1;
  display: flex;
}

button {
  flex: 1;
  background-color: #AD6157;
  color: #E6BDB8;
  border: 1px solid #61504E;
  font-size: 1.5em;
  padding: 0;
}

button.darker:hover,
button.lighter:hover,
button:hover {
  color: #61504E;
  background-color: lightgray;
}

button.lighter {
  background-color: #FAB7A2;
  color: #613122;
}

button.darker {
  background-color: #94463B;
}

#btnZero {
  flex: 2;
  border-bottom-left-radius: 7px;
  flex-basis: 4px;
}

#btnEqual {
  border-bottom-right-radius: 7px;
}